<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b> List popular languages for Data Science
- Python
- SQL
- R

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [18]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2>Author</h2>

Mohammed Hasnain D